<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="aasthadbConn" connectionString="Data Source=(local);Initial Catalog=AasthaDB;Integrated Security=True" />
  <add name="AasthaDBEntities" connectionString="metadata=res://*/AasthaDBEntitiess.csdl|res://*/AasthaDBEntitiess.ssdl|res://*/AasthaDBEntitiess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AasthaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>